.option-color {
    color: #0add0a !important;
  }
  
  .red {
    color: rgba(250, 50, 0, 0.9058823529);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .norm-margin {
    margin: 1em;
  }
  
  .main-content {
    
    display: grid;
    width: 1000px;
    margin-left: 20px;
    height: 1100px;
    /* grid-template-columns:  1fr; */

    
    border-radius: 20px 0px ;
    place-items: center;
  }
  
  .container {
    margin: 4rem;
  }
  
  .myacc {
    position: absolute;
    right: 1em;
    top: 4px;
    outline: none;
  }
  
  .profile {
    font-size: 30px;
  }
  
  .pdf-name {
    text-align: center;
  }
  
  #pdf-input {
    border: none;
    border-bottom: 2px solid;
    text-align: center;
    outline: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    font-weight: bold;
    font-style: oblique;
    margin-bottom: 3em;
  }
  
  .info-title {
    font-style: italic;
    text-align: center;
    padding: 8px;
    font-size: 25px;
    color: #011801;
    background-color: rgb(179, 242, 19);
    width: 1100px;
  
    box-shadow: 2px 2px #022525;
    transition: width 1s, height 2s;

  }
  
  #personal-info-title {
    outline: none; /* remove margin incase media query is not adapt it  */
    font-size: 25px;
    padding: 5px;
    margin-bottom: 0%;
    font-weight: bold;
    border: none;
    width: 9em;
  }
  
  .inner-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    font-size: 17px;
  }
  
  .label-padd {
    color: #14181c;
    margin-left: 5px;
    font-size: 17px;
  }
  
  .input-adjust {
    display: block;
    margin-bottom: 1em;
    padding: 1em 8px;
    max-width: 32em;
    width: 100%;
    border: none;
    border-radius: 5px;
    background: #727374;
    outline: none;
    position: relative;
    font-size: 18px;
  }
  
  #browse-img {
    font-size: 29px;
  }
  
  .input-adjust:focus-within {
    background: #fafafa;
    border-bottom: 2px solid blue;
    border-radius: 10px;
  }
  
  .edit-info {
    border: none;
    outline: none;
    margin: 1em 0;
    font-size: 17px;
    font-weight: bold;
    border: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  
  .para {
    margin-left: 1em;
    color: #9f93ad;
    font-size: 17px;
    font-weight: 400;
  }
  
  .prof-summary-msg {
    max-width: 1000px;
    color: #9f93ad;
    font-size: 17px;
  }
  
  .text-features {
    background: #f9f8fa;
    padding-top: 3px;
    border-radius: 5px;
  }
  
  #txtarea {
    width: 100%;
    outline: none;
    border: none;
    background: #f9f8fa;
    /* border: 1px solid grey; */
  }
  
  .btn-feature-list {
    margin-top: 1em;
    cursor: context-menu;
  }
  
  .f-l-btn {
    font-size: 17px;
    cursor: pointer;
    /* padding: 4px 6px; */
    margin: 0px 7px;
    background: transparent;
  }
  
  .f-l-btn:hover {
    color: #166ce5;
  }
  
  .dates .adjust-dates {
    display: flex;
    gap: 1em;
  }
  
  .emp-add {
    color: #166ce5;
    cursor: pointer;
    margin: 1em 0;
    border: none;
    background: transparent;
    font-weight: bold;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  .img{
    margin: 0%;
    padding: 0%;
  }
  
  .skills-sugessions {
    margin-bottom: 2em;
  }
  .skills-sugessions .no-experience {
    margin-bottom: 1rem;
  }
  .skills-sugessions .no-experience .no-exp-title {
    position: relative;
    bottom: 0.5em;
  }
  .skills-sugessions .toggle-switch {
    width: 3em;
    height: 1.5em;
    margin: auto 0.5em;
    background: #166ce5;
    border-radius: 100vmax;
    display: inline-block;
    position: relative;
    transition: all 600ms;
  }
  .skills-sugessions .toggle-switch::after {
    content: "";
    width: 1em;
    height: 1em;
    background: white;
    display: block;
    border-radius: 100vmax;
    position: absolute;
    top: 0.21em;
    left: var(--default-ps, 0.2em);
    transition: all 600ms;
  }
  
  .change-switch {
    background: #363535 !important;
    transition: all 600ms;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    gap: 1em;
    list-style: none;
  }
  .skills-list .skills-option {
    color: #4d0a9a;
    background: #f9f8fa;
    padding: 0.3em;
    cursor: pointer;
  }
  .skills-list .skills-option .s-plus {
    font-size: 22px;
  }
  
  .emp-fill-data {
    margin-bottom: 1em;
    border-bottom: 2px solid rgba(128, 128, 128, 0.728);
  }

  /* change  */
  .Annual{
    display: flex;
  }
  .tp-loan{
    display: inline-block;
    width: fit-content;
    margin: .2em .5em;
  }
  
  @media screen and (max-width: 605px) {
    .container {
      margin: 2em;
    }
  }
  @media screen and (max-width: 565px) {
    .container {
      margin: 1em;
    }
  }
  @media screen and (max-width: 500px) {
    .inner-info {
      grid-template-columns: 1fr;
    }
    .edit-info {
      width: 11em;
      font-size: 19px;
    }
  }
  @media screen and (max-width: 330px) {
    .skills-sugessions .no-experience .no-exp-title {
      bottom: 0;
    }
  }/*# sourceMappingURL=edit.css.map */